.infoDisplay {
  color: blue;
}

.playersDisplay {
  color: blue;
}

.lobbyInfoDisplay {
  color: blue;
}

.loginField {
  height: 45px;
  width: 450px;
  background-color: yellow;
}

.loginSubmitButton {
  height: 50px;
  width: 100px;
  background-color: lime;
}

.rotisserie {
  height: 400px;
  width: 400px;
  background-color: aquamarine;
}

.georgine {
  display: flex;
  flex-direction: row;
  background-color: chartreuse;
  border: black solid 5pt;
}

.test {
  border: blue solid 5pt;
}
