.georgine {
  /* border: blue solid 2pt; */
  display: flex;
  flex-direction: row;
  width: 1250px;
  height: 600px;
  position: relative;
  left: 0%;
  top: 20px;
}

.largeContainer {
  /* border: fuchsia solid 5pt; */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 100%;
  position: relative;
  /* left: 12.5%; */
}

.preGeorgine {
  /* border: red solid 2pt; */
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  text-align: center;
  width: 1000px;
  height: 600px;
  position: relative;
  /* left: 15%; */
  top: 20px;
  margin: 0px;
}

.leftPanel {
  background-color: #b3ff99;
  width: 800px;
  height: 600px;

  overflow: auto;
}
.rightPanel {
  /* background-color: aquamarine; */
  height: 600px;
  width: 400px;
}
