.heading {
  color: #196719;
  text-align: center;
  display: inline;
  position: relative;
  top: 15px;
}

.heading2 {
  color: black;
  text-align: center;
  display: inline;
  position: relative;
  top: 15px;
}

.buttons {
  height: 50px;
  width: 150px;
}

.lobbySubheading {
  color: #196719;
  position: relative;
  top: 5px;
}

.newRoomButton {
  width: 47.5px;
  font-size: 14pt;
  height: 48px;
  background-color: white;
  border: green solid 2pt;
  box-shadow: 2.5px 2.5px 1.25px grey;
  cursor: pointer;
  top: 0.5px;
}

.newRoomButton:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 1.25px black;
}

.newRoomField {
  width: 220px;
  height: 40px;
  background-color: white;
  border: green solid 2pt;
  box-shadow: 2.5px 2.5px 1.25px grey;
  position: relative;
  border: green solid 2pt;
  font-size: 12pt;
  text-align: center;
}

::placeholder {
  color: #4caf50;
  font-weight: bold;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #4caf50;
  font-weight: bold;
}

::-ms-input-placeholder {
  color: #4caf50;
  font-weight: bold;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #228b22;
  color: #fff;
  text-align: center;
  padding: 10px 0px 10px 0px;
  border-radius: 6px;
  left: 110%;
  top: 0%;
  position: absolute;
  z-index: 1;
  opacity: 60%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
