.inGameInstructions {
}

.infoDisplay {
  color: blue;
  font-style: italic;
  font-size: 14px;
  margin: 0px;
  padding: 12px 0px 0px 0px;
  /* border: white solid 2.5pt; */
  height: 172px;
  overflow: auto;
}

.infoDisplay > li {
  list-style-type: none;
}

.yourChat {
  color: black;
  text-align: left;
  margin: 1.5px 10px 1.5px 10px;
  font-family: "Courier New";
}

.herChat {
  color: green;
  text-align: right;
  margin: 1.5px 10px 1.5px 10px;
  font-family: "Courier New";
}

.playerNamesBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: firebrick solid 2.5pt; */
}

.roomsDisplay {
  color: black;
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.playersDisplay {
  color: black;
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.rightPanelDisplay {
  /* border: darkorchid solid 2px; */
  height: 100%;
  display: grid;
  grid-template-rows: 50% 1fr;
  width: 350px;
}

.emojiHolder {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 2.5%;
  /* border-top: coral solid 15pt; */
}

.midbox {
  background-image: linear-gradient(#ffbf28, yellow);
  grid-row: 2;
}

.midboxLobby {
  background-image: linear-gradient(#ffbf28, yellow);
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topbox {
  /* border: black solid 2.5pt; */
  background-image: linear-gradient(coral, #ffbf28);
  grid-row: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.bottombox {
  background-color: thistle;
  grid-row: 3;

  height: 100%;
}

.webcamHolder {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  /* border: white solid 2pt; */
}

.webcamImage {
  align-self: center;
  height: 75%;
  width: 75%;
  border-radius: 50%;
}

.emoHolder {
  /* border: black solid 2.5pt; */
  height: 150px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoEmoji {
  height: 50px;
  width: 50px;
}

.emoBars {
  align-self: center;
  font-size: 24pt;
  margin: 0px;
}

.emoLabel {
  margin: 0px;
  font-size: 12pt;
}

/* .infoDisplayMessage {
  font-family: "Lucida Sans";
} */

/* .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: blueviolet solid 2.5pt;
  } */

.videoContainer {
  /* border: bisque solid 5pt; */
  position: relative;
  top: -3%;
  display: flex;
  flex-direction: row;
  width: 150px;
  align-self: center;
  overflow: hidden;
  display: block;
}

.videoObscurer {
  /* border: black solid 1pt; */
  background-color: coral;
  width: 180px;
  height: 140px;
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 2;
}

/* .canvasDetections {
    border: yellow solid 10pt;
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 1;
  } */

.video {
  /* border: orange solid 5pt; */
  position: relative;
  z-index: 0;
  /* border: indigo solid 2.5pt; */
  width: 180px;
  height: 140px;
  margin-left: -25px;
}

.canvasPhoto {
  width: 120px;
  height: 120px;
  border: rgba(255, 255, 255, 0.25) dashed 4px;
  align-self: center;
  border-radius: 50%;
  margin-left: 12.5px;
  margin-top: 12.5px;
}

.emotions {
  display: inline-block;
}

.instructions {
  font-size: 13.5pt;
  margin: 15px;
  margin-top: 15px;
}

.chatButton {
  width: 47.5px;
  /* position: relative; */
  font-size: 14pt;
  height: 48px;
  background-color: white;
  border: green solid 2pt;
  box-shadow: 2.5px 2.5px 1.25px grey;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.chatButton:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 1.25px black;
}

.chatField {
  width: 295px;
  height: 40px;
  background-color: white;
  border: green solid 2pt;
  box-shadow: 2.5px 2.5px 1.25px grey;
  position: relative;
  /* left: 380px;
  top: 240px; */
  border: green solid 2pt;
  font-size: 12pt;
  text-align: left;
}

.chatFormHolder {
  /* border: slateblue solid 2pt; */
  position: relative;
  bottom: 6px;
  /* bottom: 16px; */
  left: -1px;
  /* border: blue solid 0.5pt; */
}
