.infoDisplay {
  color: blue;
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

.playerNamesBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.playersDisplay {
  color: blue;
  font-weight: bold;
}

.rightPanelDisplay {
  border: darkorchid solid 5pt;
  height: 600px;
  display: grid;
  grid-template-rows: 52.5% 1fr 12.5%;
  width: 350px;
}

.topbox {
  border: black solid 2.5pt;
  background-color: coral;
  grid-row: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.emojiHolder {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.midbox {
  background-color: yellow;
  grid-row: 2;
}

.midboxLong {
  background-color: yellow;
  grid-row: 2 / 4;
}

.bottombox {
  background-color: thistle;
  grid-row: 3;

  height: 100%;
}

.webcamHolder {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  /* border: white solid 2pt; */
}

.webcamImage {
  align-self: center;
  height: 75%;
  width: 75%;
  border-radius: 50%;
}

.emoHolder {
  /* border: black solid 2.5pt; */
  height: 150px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoEmoji {
  height: 50%;
  width: 50%;
}

.emoBars {
  align-self: center;
  font-size: 24pt;
  margin: 0px;
}

.emoLabel {
  margin: 0px;
  font-size: 14pt;
}

.infoDisplayMessage {
  font-family: "Lucida Sans";
}

/* .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: blueviolet solid 2.5pt;
  } */

.videoContainer {
  /* border: bisque solid 5pt; */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 150px;
  align-self: center;
  overflow: hidden;
  display: block;
}

.videoObscurer {
  /* border: black solid 1pt; */
  background-color: coral;
  width: 180px;
  height: 140px;
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 2;
}

/* .canvasDetections {
    border: yellow solid 10pt;
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 1;
  } */

.video {
  /* border: orange solid 5pt; */
  position: relative;
  z-index: 0;
  /* border: indigo solid 2.5pt; */
  width: 180px;
  height: 140px;
  margin-left: -25px;
}

.canvasPhoto {
  width: 120px;
  height: 120px;
  border: forestgreen solid 2.5pt;
  align-self: center;
  border-radius: 50%;
  margin-left: 12.5px;
  margin-top: 12.5px;
}

.emotions {
  display: inline-block;
}

.instructions {
  font-size: 13.5pt;
  margin: 15px;
  margin-top: 25px;
}
